.arrows {
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between;
    column-gap: 10px;
}

.up-arrow {
    filter: drop-shadow(1px 1px 1px black);
    cursor: pointer;
}

.down-arrow {
    filter: drop-shadow(1px 1px 1px black);
    cursor: pointer;
}

.selected {
    filter: none;
}