.youtube-video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 aspect ratio */
  }
  
  .video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
  }
  
  .reddit-video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 aspect ratio */
  }
  
  .image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .post-image {
    margin-top: 20px;
    margin-bottom: 10px;
    max-height: 70vh;
    height: auto;
    max-width: 90%;
    width: auto;
    border-radius: 8px;
  }

  .error-message {
    padding-left: 10px;
  }