.gallery-viewer {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.gallery-viewer-button {
    filter: drop-shadow(1px 1px 1px black);
    cursor: pointer;
}

.gallery-viewer-button:active{
    filter: none;
}

.gallery-viewer img {
    margin-top: 20px;
    margin-bottom: 10px;
    max-height: 70vh;
    height: auto;
    max-width: 75%;
    width: auto;
    border-radius: 8px;
}

@media only screen and (max-width: 975px) {
    .gallery-viewer {
        display: flex;
        column-gap: 10px;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}