.sort {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
}

#sort-label {
    align-self: flex-start;
}