@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Roboto:wght@300;400&display=swap');

/*
:root {
    --header-background-color: #E8E8E8;
    --background-color: #FFFFFF;
    --midground-color: #E8E8E8;
    --text-color: #000000;
}

body.dark-mode {
    --header-background-color: #4C4C4F;
    --background-color:#272728;
    --midground-color: #4C4C4F;
    --text-color: #C7C6C6;
}


:root {
    --background-color: #ECEFF4;
    --primary-text-color: #2E3440;
    --secondary-text-color: #4C566A;
    --accent-color: #D08770;
    --border-color: #D8DEE9;
}

body.dark-mode {
    --background-color: #1C1E26;
    --primary-text-color: #ECEFF4;
    --secondary-text-color: #88C0D0;
    --accent-color: #BF616A;
    --border-color: #4C566A;
}
*/

body.light {
    --background-color: #ECEFF4;
    --primary-text-color: #2E3440;
    --secondary-text-color: #4C566A;
    --accent-color: #D08770;
    --border-color: #D8DEE9;
}

body.dark {
    --background-color: #1C1E26;
    --primary-text-color: #ECEFF4;
    --secondary-text-color: #88C0D0;
    --accent-color: #BF616A;
    --border-color: #4C566A;
}