.header {
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

.logo {
    padding-left: 25px;
    font-size: 48px;
    font-family: 'Bebas Neue', sans-serif;
}

.logo .red {
    color: var(--accent-color);
}

.logo .pink {
    color: var(--secondary-text-color);
}

.rightSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}