.header {
    background: #4C4C4F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

.logo {
    padding-left: 25px;
}

.logo .red {
    color: #8C0F0F;
}

.logo .pink {
    color: #9B0AB3;
}

.rightSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}