
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 96%;
    z-index: 3;
    margin-left: 2%;
    margin-right: 2%;
}

.logo {
    font-size: 48px;
    font-family: 'Bebas Neue', sans-serif;
}

.rightSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px;
    row-gap: 5px;
    z-index: 2;
}

.menu-block {
    height: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: 1px solid grey;
}

.list-block {
    border-radius: 8px;
    border: 1px solid grey;
    padding-bottom: 10px;
}

.menu-container.mobile.hidden {
    display: none;
}

.menu-container.mobile {
    position: absolute;
    /* start at the bottom of the header */
    transition: transform 0.3s ease-out;
    /* transition will affect the transform property */
}

.menu-container.mobile.open {
    transform: translateY(0);
    /* open state: translate down by its own height */

}

.menu-container.mobile.closed {
    transform: translateY(-101%);
    /* closed state: normal position */
}

.sr-list-container.mobile {
    position: absolute;
    width: 100%;
}

.sr-list-container.mobile.open {
    display: block;
}

.sr-list-container.mobile.closed {
    display: none;
    /* closed state: normal position */
}

.arrested-list-container.mobile {
    position: absolute;
    width: 100%;
}

.arrested-list-container.mobile.open {
    display: block;
}

.arrested-list-container.mobile.closed {
    display: none;
    /* closed state: normal position */
}

#block-2 {
    margin-top: 5px;
}

#block-3 {
    margin-top: 5px;
}

#block-4 {
    margin-top: 5px;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 975px) {
    .header {
        justify-content: center;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}