.Sidebar {
    min-height: 100px;
    margin-top: 20px;
    border-radius: 8px;
    position: fixed;
    width: inherit;
}

.sidebar-sort {
    margin-bottom: 110px;
    width: inherit;
}

.sidebar-sr-list {
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}
