#arrests-list{
    margin-top: 10px;
    margin-bottom: 17px;
}

#arrested-name {
    line-height: 40px;
    margin-left: 40px;
    list-style-type: circle;
    cursor: pointer;
}

#arrested-name:hover {
    margin-left: 45px;
    transition-delay: 10ms;
    transition-property: margin-left;
}

.arrests-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#release-all {
    border: 0;
    padding: 8px 12px;
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px black);
}

#release-all:active {
    filter: none;
}

@media only screen and (max-width: 768px) {
    .empty-message {
        align-self: center;
    }

    #release-all {
        align-self: center;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}