/* Container and wrapper to ensure header and footer display properly*/
.page-container {
    position: relative;
    height: 100%;
    min-height: 100vh;
    min-width: 375px;
}

.container-wrap {
    z-index: 1;
    height: 100%;
    min-height: 100vh;
}

/* Styling specific to App element. */
.App {
    display: flex;
    width: 100%;
}

.main-content {
    width: 70%;
    margin-left: 2%;
    position: relative;
    margin-bottom: 50px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 24%;
    min-width: 220px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 70px;
}

.blur {
    filter: blur(5px); 
    transition: filter 0.3s ease;
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .App {
        display: flex;
        justify-content: center;
    }
    
    .main-content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        min-width: 365px;
    }
}