#sr-list{
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 17px;
}

.sr-name {
    line-height: 40px;
    list-style-type: circle;
    cursor: pointer;
}

.sr-name:hover {
    margin-left: 5px;
    transition-delay: 10ms;
    transition-property: margin-left;
}
