.post-title {
    align-self: flex-start;
}

/*
.post-image {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    height: auto;
    max-width: 760px;
}
*/

.post-text {
    margin-bottom: 10px;
}

.post-image {
    margin-top: 20px;
    margin-bottom: 10px;
    width: auto;
    height: 65vh;
  }
  