.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
}

.post-title {
  align-self: flex-start;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: larger;
}

.poll-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.poll-container p {
  padding-left: 10px;
  font-style: italic;
}

.poll-container a {
  margin-left: 10px;
  line-height: 20px;
}

.poll-container ul {
  margin-top: 25px;
}

.poll-container li {
  line-height: 40px;
  list-style-type: circle;
  margin-left: 60px;
}

.link-container a {
  margin-left: 20px;
  line-height: 20px;
}